# Sample configuration file, update to meet your needs
[source]
url: http://username@password@example.com/trac/login/xmlrpc # URL of the XML-RPC trac endpoint 
[target]
project_name: foo/bar                  # project's path
method: api                            # Method tu use (api or direct)
url: https://gitlab.example.com/api/v3 # URL of the GitLab web API (if method = api)
access_token: secretsecret             # API access token (if method = api)
# ssl_verify: yes                      # Uncomment to verify SSL keys (default = no ) (if method = api)
db-name: databasename                  # database name (if method = direct)
db-user: gitlab                        # database user (if method = direct)
db-password: secret                    # database password (if method = direct)
[wiki]
# migrate: yes                         # Should we migrate the wiki (default = yes)
# exclude_authors: trac                # Comma separated list of authors to exclude (default=trac)
target_directory: /tmp/test.wiki/      # Directory where the wiki pages should be written
[issues]
#migrate: yes                          # Should we migrate the issues (default = yes)


